@import url("https://fonts.googleapis.com/css2?family=Convergence&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Convergence&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  background-color: #121212;
}

.titleSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title {
  font-family: "Convergence", sans-serif;
  font-size: 7rem;
  color: #0ff0ff;
  -webkit-text-stroke: 0.0625rem #0ff0ff;
  filter: drop-shadow(0 0 0.3125rem #0ff0ff);
  line-height: 70%;
}

#titleBig {
  transition: color 0.3s, -webkit-text-stroke 0.3s;
  line-height: 100%;
}

#titleBig:hover {
  color: transparent;
  filter: drop-shadow(0 0 0.4375rem #0ff0ff);
  -webkit-text-stroke: 0.1875rem #0ff0ff;
}

#titleSmall {
  font-size: 4.1rem;
  transition: color 0.3s, -webkit-text-stroke 0.3s;
}

#titleSmall:hover {
  color: transparent;
  filter: drop-shadow(0 0 0.4375rem #0ff0ff);
  -webkit-text-stroke: 0.125rem #0ff0ff;
}

.gridSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  padding: 1%;
}

.gridItem {
  border: 0.125rem #0ff0ff solid;
  filter: drop-shadow(0 0 0.2rem #0ff0ff);
  background-color: #30343f;
}

.gridTitle {
  font-family: "Convergence", Verdana, Geneva, Tahoma, sans-serif;
  color: #0ff0ff;
  font-size: 2.2rem;
  text-align: center;
}

.gridText {
  font-family: "Assistant", sans-serif;
  font-size: 1.22rem;
  color: #ffffff;
}

.imgFluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
