@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "titlefont";
  src: url("../fonts/Future\ Edge\ Italic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "titlefont2";
  src: url("../fonts/KGBlankSpaceSolid.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "parafont";
  src: url("../fonts/Laurasia.ttf") format("truetype");
  font-weight: normal;
}

body {
  overflow-x: hidden;
  background-color: #0f0f0a;
}

/* /* NAV STYLING 
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 26%;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 0.625rem;
  margin: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.nav-list {
  width: 80%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 1.625rem 1.875rem;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover {
  color: rgb(197, 194, 194);
}

.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

.clg-logo {
  margin: 1rem;
}

.clg-logo img {
  max-height: 3.5rem;
  width: auto;
} */

/* FIRST PAGE STYLING */
.background {
  background: rgba(0, 0, 0, 0.7) url("../images/background-about.jpeg");
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection {
  height: 100vh;
}

.box-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
}

.background-text-big {
  font-family: "gally";
  font-size: 7rem;
  background-image: radial-gradient(circle at center, #c2c5a5, #e8de2b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-text-small {
  font-family: "titlefont2", Verdana;
  font-size: 3.3rem;
  background-image: radial-gradient(circle at center, #c2c5a5, #e8de2b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PARA SECTION STYLING */
.section {
  display: flex;
  width: 100%;
  height: 50vh;
}

.text-box,
.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem;
  border: 0.47576rem solid transparent;
  border-radius: 1rem;
  border-image: linear-gradient(
      to right,
      #e8de2b,
      #3d5260,
      #c5c2a5,
      #e8de2b,
      #c5c2a5,
      #3d5260,
      #e8de2b
    )
    1;
  box-shadow: 0 0.25rem 0.625rem #c6bbbb33;
}

.text-box {
  color: #0d0d0d;
  position: relative;
  background-image: url("../images/boximage.png");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 1.123rem;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.953);
  font-family: "headfont", Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
  max-width: 100%;
  word-wrap: break-word;
}

.text-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/boximage.png");
  background-size: cover;
  background-position: right;
  filter: blur(0.66rem);
  z-index: 0;
  border-radius: 1rem;
}

.text-box > * {
  position: relative;
  z-index: 1;
}

.sectionSubTag.text-small {
  font-family: "parafont", Verdana, Geneva, Tahoma, sans-serif;
}

.sectionSubTag.text-big {
  font-family: "titlefont2", Verdana, Geneva, Tahoma, sans-serif;
  color: #e8de2b;
  text-decoration: underline;
}

.thirdsection{
  padding-top: 10%;
  padding-bottom: 10%;
}

.image-box {
  flex: 1;
  overflow: hidden;
}

.imgFluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Third page styling */
.focus-areas-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.focus-areas-box {
  width: 80%;
  border: 0.47576rem solid transparent;
  border-radius: 1rem;
  border-image: linear-gradient(
      to right,
      #3d5260,
      #c5c2a5,
      #3d5260,
      #c5c2a5,
      #3d5260
    )
    1;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.625rem #c6bbbb33;
}

.focus-areas-title {
  text-align: center;
  margin-bottom: 0.2rem;
  color: #e8de2b;
  font-size: 3rem;
  font-family: "titlefont", Verdana;
  letter-spacing: 0.3rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.focus-area-content {
  overflow: hidden;
  padding: 0.0625rem 0;
  background: #e8de2b;
  white-space: nowrap;
  position: relative;
}

.focus-area-content:before,
.focus-area-content:after {
  position: absolute;
  top: 0;
  width: 12.5rem;
  height: 100%;
  content: "";
  z-index: 2;
}

.focus-area-content:before {
  left: 0;
  background: linear-gradient(to left, #ffffff00, #0f0f0a);
}

.focus-area-content:after {
  right: 0;
  background: linear-gradient(to right, #ffffff00, #0f0f0a);
}

.focus-area-content:hover .content-slide {
  animation-play-state: paused;
}

.content-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.content-slide span {
  margin: 0 2.5rem;
  color: #3d5260;
  font-size: 4rem;
  font-family: "Kanit", sans-serif;
  text-decoration: underline;
}
