@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
  font-family: "Nautilus";
  src: url("../fonts/otf--texts/Nautilus.otf");
  format: ("OpenTypefont");
  font-weight: normal;
}

@font-face {
  font-family: "Aladin";
  src: url("../fonts/otf--texts/Aladin.otf");
  format: ("OpenTypefont");
  font-weight: normal;
}

@font-face {
  font-family: "CarterOne";
  src: url("../fonts/otf--texts/CarterOne.otf");
  format: ("OpenTypefont");
  font-weight: normal;
}

@font-face {
  font-family: "Beta54";
  src: url("../fonts/Beta54.otf");
  format: ("OpenTypefont");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #0f0f0a;
}

/* /* NAV STYLING 
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 26%;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 0.625rem;
  margin: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.nav-list {
  width: 80%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 1.625rem 1.875rem;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover {
  color: rgb(197, 194, 194);
}

.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

.clg-logo {
  margin: 1rem;
}

.clg-logo img {
  max-height: 3.5rem;
  width: auto;
} */

/* FIRST PAGE STYLING */
.background {
  background: rgba(0, 0, 0, 0.7) url("../images/background-about.jpeg");
  background-size: cover;
  background-blend-mode: darken;
}

.firstSection {
  height: 100vh;
}

.box-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
}

.background-text-big {
  font-family: "Beta54";
  font-size: 7rem;
  background-image: radial-gradient(circle at center, #c2c5a5, #e8de2b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-text-small {
  font-family: "CarterOne", Verdana;
  font-size: 4.1rem;
  background-image: radial-gradient(circle at center, #c2c5a5, #e8de2b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PARA SECTION STYLING  */
.section {
  display: flex;
  width: 100%;
  height: 50vh;
  position: relative;
}

.text-box,
.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem;
  position: relative;
  box-shadow: 0 0.25rem 0.625rem #c6bbbb33;
}

.text-box {
  background-color:rgba(62, 83, 96, 0.374);
  backdrop-filter: blur(1rem);
  flex-direction: column;
  padding: 1rem;
  font-family: "headfont", Verdana, Tahoma, sans-serif;
}

.image-box {
  overflow: hidden;
  position: relative;
}

/* Rotating Border for Text Box */
.text-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.3rem solid transparent;
  border-image: conic-gradient(
      from var(--angle),
      #eb2feb,
      cyan,
      limegreen,
      greenyellow,
      #eb2feb
    )
    1;
  z-index: -1;
  animation: spin 5s linear infinite;
  box-shadow: 7rem;
}

.image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.3rem solid transparent;
  border-image: conic-gradient(
      from var(--angle),
      #eb2feb,
      cyan,
      limegreen,
      greenyellow,
      #eb2feb
    )
    1;
  animation: spin 5s linear infinite;
  box-shadow: 7rem;
}

.image-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionSubTag.text-small {
  font-family: "Radio+Canada+Big", sans-serif;
  font-size: 1.22rem;
  color: rgb(225, 212, 212);
}

.sectionSubTag.text-big {
  font-family: "Lora", Verdana, Geneva, Tahoma, sans-serif;
  color: #e8de2b;
  text-decoration: underline;
  font-size: 2.2rem;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.thirdsection {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Third page styling */
.focus-areas-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.focus-areas-box {
  width: 80%;
  border: 0.47576rem solid transparent;
  border-radius: 1rem;
  border-image: linear-gradient(
      to right,
      #3d5260,
      #c5c2a5,
      #3d5260,
      #c5c2a5,
      #3d5260
    )
    1;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.625rem #c6bbbb33;
}

.focus-areas-title {
  text-align: center;
  margin-bottom: 0.2rem;
  color: #e8de2b;
  font-size: 3.5rem;
  font-family: "Nautilus", Verdana;
  letter-spacing: 0.3rem;
  text-decoration: underline;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.focus-area-content {
  overflow: hidden;
  padding: 0.0625rem 0;
  background: #e8de2b;
  white-space: nowrap;
  position: relative;
}

.focus-area-content:before,
.focus-area-content:after {
  position: absolute;
  top: 0;
  width: 12.5rem;
  height: 100%;
  content: "";
  z-index: 2;
}

.focus-area-content:before {
  left: 0;
  background: linear-gradient(to left, #ffffff00, #0f0f0a);
}

.focus-area-content:after {
  right: 0;
  background: linear-gradient(to right, #ffffff00, #0f0f0a);
}

.focus-area-content:hover .content-slide {
  animation-play-state: paused;
}

.content-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
  font-size: 3rem;
  color: #3d5260;
}

.content-slide span {
  margin: 0 2.5rem;
  color: #3d5260;
  font-size: 4rem;
  font-family: "Aladin", sans-serif;
  text-decoration: underline;
}
