@import url("https://fonts.googleapis.com/css2?family=Convergence&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Convergence&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #030c26;
}

/* /* NAV STYLING 
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 26%;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 0.625rem;
  margin: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.nav-list {
  width: 80%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 1.625rem 1.875rem;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover {
  color: rgb(197, 194, 194);
}

.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

.clg-logo {
  margin: 1rem;
}

.clg-logo img {
  max-height: 3.5rem;
  width: auto;
} */

/* FIRST PAGE STYLING */
/* .background {
  background: rgba(0, 0, 0, 0.7) url("../images/background-about.jpeg");
  background-size: cover;
  background-blend-mode: darken;
} */

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
}

.background-text-big {
    font-family: "Convergence", sans-serif;
    font-size: 7rem;
    color: #6387f2;
    -webkit-text-stroke: 1px #6387f2;
    filter: drop-shadow(0 0 5px #6387f2);
    transition: color 0.3s, -webkit-text-stroke 0.3s;
}

.background-text-big:hover {
    color: transparent;
    filter: drop-shadow(0 0 7px #3f63f5);
    -webkit-text-stroke: 3px #3f63f5;
}

.background-text-small {
    font-family: "Convergence", Verdana;
    font-size: 4.1rem;
    color: #6387f2;
    -webkit-text-stroke: 1px #6387f2;
    filter: drop-shadow(0 0 5px #6387f2);
    transition: color 0.3s, -webkit-text-stroke 0.3s;
}

.background-text-small:hover {
    color: transparent;
    filter: drop-shadow(0 0 7px #3f63f5);
    -webkit-text-stroke: 3px #3f63f5;
}

/* PARA SECTION STYLING  */
.section {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}

/* Box Styling */
.text-box,
.image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem;
    border-radius: 0rem;
    position: relative;
    box-shadow: 0 0.25rem 0.625rem #c6bbbb33;
}

.text-box {
    background-color: rgba(62, 83, 96, 0.374);
    backdrop-filter: blur(10px);
    flex-direction: column;
    padding: 1rem;
    font-family: "headfont", Verdana, Tahoma, sans-serif;
}

.image-box {
    overflow: hidden;
    position: relative;
}

/* Rotating Border for Text Box */
.text-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3rem;
    border: 0.3rem solid transparent;
    border-image: conic-gradient(
            from var(--angle),
            #0000e3,
            #0df205,
            #00bfff,
            #0df205,
            #0000e3
        )
        1;
    z-index: -1;
    animation: spin 5s linear infinite;
    box-shadow: 7rem;
}

/* Rotating Border for Image Box */
.image-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3rem;
    border: 0.3rem solid transparent;
    border-image: conic-gradient(
            from var(--angle),
            #0000e3,
            #0df205,
            #00bfff,
            #0df205,
            #0000e3
        )
        1;
    animation: spin 5s linear infinite;
    box-shadow: 7rem;
}

.image-box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sectionSubTag.text-small {
    font-family: "Assistant", sans-serif;
    font-size: 1.22rem;
    color: #6387f2;
}

.sectionSubTag.text-big {
    font-family: "Convergence", Verdana, Geneva, Tahoma, sans-serif;
    color: #0df205;
    text-decoration: underline;
    font-size: 2.2rem;
}

/* Keyframes for Spin Animation */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
.thirdsection {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* Third page styling - I have removed the slide for the time being*/
/* .focus-areas-section {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 2rem;
}

.focus-areas-box {
  width: 80%;
  border: 0.47576rem solid transparent;
  border-radius: 1rem;
  border-image: linear-gradient(
      to right,
      #3d5260,
      #c5c2a5,
      #3d5260,
      #c5c2a5,
      #3d5260
    )
    1;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.625rem #c6bbbb33;
}

.focus-areas-title {
  text-align: center;
  margin-bottom: 0.2rem;
  color: #e8de2b;
  font-size: 3.5rem;
  font-family: "Convergence", Verdana;
  letter-spacing: 0.3rem;
  text-decoration: underline;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.focus-area-content {
  overflow: hidden;
  padding: 0.0625rem 0;
  background: #e8de2b;
  white-space: nowrap;
  position: relative;
}

.focus-area-content:before,
.focus-area-content:after {
  position: absolute;
  top: 0;
  width: 12.5rem;
  height: 100%;
  content: "";
  z-index: 2;
}

.focus-area-content:before {
  left: 0;
  background: linear-gradient(to left, #ffffff00, #0f0f0a);
}

.focus-area-content:after {
  right: 0;
  background: linear-gradient(to right, #ffffff00, #0f0f0a);
}

.focus-area-content:hover .content-slide {
  animation-play-state: paused;
}

.content-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
  font-size: 3rem;
  color: #3d5260;
}

.content-slide span {
  margin: 0 2.5rem;
  color: #3d5260;
  font-size: 4rem;
  font-family: "Assistant", sans-serif;
  text-decoration: underline;
}
 */
