html {
    font-size: 16px;
}
/* PRIMARY SET */
body {
    background-color: #121212;
    color: #f5f5f5;
    padding-top: 3.2dvh;
}

/* ANIMATIONS RELATED */

.hidden {
    opacity: 0;
    transform: translateY(3rem);
    transition: all 500ms ease;
}
.show {
    opacity: 1;
    transform: translate(0);
}

/* EVENT RELATED */
.event {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.event-card {
    min-height: 21.5vh;
    background: #30343f; /*SECONDARY SET*/
    margin: 10px;
    display: flex;
    width: 85%;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    transition: color 0.2s, transform 0.2s, box-shadow 0.2s;
    box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.07),
        inset 0 -4px 8px rgba(255, 255, 255, 0.07),
        inset 4px 0 8px rgba(255, 255, 255, 0.07),
        inset -4px 0 8px rgba(255, 255, 255, 0.07);
}
.event-card:hover {
    background-color: #22252c;
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.075),
        inset 0 -4px 8px rgba(255, 255, 255, 0.075),
        inset 4px 0 8px rgba(255, 255, 255, 0.075),
        inset -4px 0 8px rgba(255, 255, 255, 0.075);
}
.EventI {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
}
.EventI img {
    max-width: 100%;
    max-height: 21.5vh;
    object-fit: cover;
    border-radius: 0.5rem;
}
.EventD {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 5px;
    padding-left: 1rem;
    justify-content: center;
    row-gap: 0.1em;
    color: #ffffff;
}
.TitleDate {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.TitleDate .Title {
    font-size: 0.75em;
    display: flex;
    flex: 1;
    font-family: "Convergence", sans-serif;
    font-weight: 900;
    color: #0ff0ff;
}
.TitleDate .Date {
    font-family: "Convergence", sans-serif;
    font-weight: 700;
    font-size: 0.7em;
    display: flex;
    color: #0ff0ff;
}
.Description {
    max-width: 100%;
    overflow: hidden;
    font-size: 0.575em;
    line-height: calc(0.575 * 1.2) em;
    transition: height 0.9s ease;
    font-family: "Assistant", sans-serif;
    font-weight: 600;
}
.Description.active {
    height: auto;
}
.Description.deactive {
    height: 2.5em;
}
.ReadRegister {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-left: 10px;
    font-family: "Convergence", sans-serif;
}
.ReadRegister .Read {
    display: flex;
    flex: 1;
    max-width: fit-content;
}
.ReadRegister .Read button {
    font-size: 1.16rem;
    border: 0;
    background-color: transparent;
    margin-left: -5px;
    font-weight: normal;
    color: #ff00ff;
    transition: transform 0.25ss ease-in, color 0.25s ease-in;
}
.ReadRegister .Read button:hover {
    color: #ffd300;
    transform: scale(1.07);
}
.ReadRegister .Register {
    display: flex;
    flex: 1;
    justify-content: end;
    max-width: fit-content;
}
.ReadRegister .Register a {
    font-size: 1.4rem;
    border-radius: 1.5rem;
    border: 0;
    margin-top: 0.5rem;
    padding: 0.1rem 0.6rem;
    background-color: rgb(228, 132, 247);
    color: #020e44;
    font-weight: 550;
    transition: 0.5s ease-in-out;
    border-color: transparent;
    text-decoration: none;
}
.ReadRegister .Register a:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}

/*ANIMATIONS*/
/*BADA TEXT KA CSS*/
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-apply {
    font-family: "Convergence", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 3.5vw;
}
h1 {
    display: inline-flex;
    position: relative;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    color: #0ff0ff;
}

h1::after {
    position: absolute;
    top: 0;
    bottom: -10px;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    content: attr(data-text);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #0ff0ff;
    will-change: width;
    animation: grow 7s cubic-bezier(0.86, 0, 0.07, 1) 0.4s infinite alternate
        both;
}

span {
    display: inline-block;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
}

span::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    content: attr(data-text);
    -webkit-text-stroke: rgba(255, 255, 255, 0);
    will-change: width;
    animation: grow 7s cubic-bezier(0.86, 0, 0.07, 1) 2.15s infinite alternate
        both;
    background: linear-gradient(
        to bottom,
        rgba(0, 255, 255, 0.85) 0%,
        rgba(0, 255, 255, 0.65) 100%
    ); /*Electric blue gradient*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes grow {
    0%,
    10%,
    90%,
    100% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
}

/*REGISTER BUTTON*/

.ReadRegister .Register a:hover,
.ReadRegister .Register a:focus {
    border-color: #ff00ff;
    color: #ffd300;
    transform: scale(1.05);
}

.RegisterAnimation a:hover,
.RegisterAnimation a:focus {
    box-shadow: inset 0 0 0 30px #ff00ff;
}

/* Mobile resp */
@media (max-width: 420px) {
    .event {
        margin-top: -10px;
    }
    .event-card {
        flex-direction: column;
        padding-top: 10px;
        margin-right: 0;
    }
    .EventI {
        justify-content: center;
    }
    .EventI img {
        max-width: 80%;
        margin: 0.6rem;
        box-shadow: 0px 9px 30px rgba(255, 255, 255, 0.08);
    }
    .TitleDate .Title {
        font-size: 1.35rem;
        font-weight: 700;
    }
    .TitleDate .Date {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .Description {
        font-size: 1.1rem;
        font-weight: 400;
    }
    .EventD {
        padding-left: 5px;
    }
    .Description.deactive {
        height: 3.7em;
    }
    .font-apply {
        font-size: 4.9vw;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    span::after {
        content: "FIESTRON EVENTS";
    }
    h1::after {
        content: "FIESTRON EVENTS";
    }
    body {
        padding-top: 8dvh;
    }
}

/* Dekstop resp */
@media (width: 1920px) and (height: 1080px) {
    .event-card {
        font-size: 3.36rem;
    }
    .TitleDate .Title {
        font-size: 2.3rem;
    }
    .TitleDate .Date {
        font-size: 1.8rem;
    }
    .Description {
        font-size: 1.5rem;
    }
    .ReadRegister .Read button {
        font-size: 1.8rem;
    }
    .ReadRegister .Register a {
        font-size: 2rem;
        border-radius: 2rem;
    }
}

@media (width: 1440px) and (height: 900px) {
    .event-card {
        font-size: 2.34rem;
    }
    .TitleDate .Title {
        font-size: 2.1rem;
    }
    .TitleDate .Date {
        font-size: 1.6rem;
    }
    .Description {
        font-size: 1.4rem;
    }
    .ReadRegister .Read button {
        font-size: 1.7rem;
    }
    .ReadRegister .Register a {
        font-size: 1.9rem;
        border-radius: 1.9rem;
    }
}

@media (width: 1280px) and (height: 1024px) {
    .event-card {
        font-size: 2rem;
    }
    .TitleDate .Title {
        font-size: 2.2rem;
    }
    .TitleDate .Date {
        font-size: 1.7rem;
    }
    .Description {
        font-size: 1.4rem;
    }
    .ReadRegister .Read button {
        font-size: 1.6rem;
    }
    .ReadRegister .Register a {
        font-size: 1.8rem;
        border-radius: 1.8rem;
    }
}

@media (width: 1280px) and (height: 720px) {
    .event-card {
        font-size: 1.76rem;
    }
    .TitleDate .Title {
        font-size: 1.7rem;
    }
    .TitleDate .Date {
        font-size: 1.3rem;
    }
    .Description {
        font-size: 1.1rem;
    }
    .ReadRegister .Read button {
        font-size: 1.4rem;
    }
    .ReadRegister .Register a {
        font-size: 1.6rem;
        border-radius: 1.6rem;
    }
}

.brochure {
    text-align: center;
    color: #e484f7;
    font-size: 2rem;
}

.brochureDiv {
    display: flex;
    justify-content: center;
}

@media (max-width:420px){
    .brochure{
        font-size: 1.5rem;
        padding-bottom: 5%;
    }
}