@font-face {
    font-family: Beta54;
    src: url(/fonts/otf--texts/Beta54.otf);
    font-display: swap;

}
html{
    font-size: 16px;
}
/*FOCUS ON FONTS AND ALL LATER --sundar*/
body{
    background-color: #222222;
    color:#F5F5F5; 
    font-family:'Roboto','sans-serif' ;
}

/* ANIMATIONS RELATED */
.hidden0{
    opacity: 0;
    transition: all 2s;
    transform: translateZ(-100%);
}
.show0{
    opacity: 1;
    transform: translateZ(0);
}

.hidden{
    opacity: 0;
    transform:translateY(3rem);
    transition: all 500ms ease;
}
.show{
    opacity: 1;
    transform: translate(0);
}
.slide{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

/* EVENT RELATED */
.event{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.event-card{
    min-height: 21.5dvh;
    background-color: #1E1E2F;
    margin: 10px;
    display: flex;
    width: 95%;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow:0 4px 10px rgba(0,0,0,0.9);
    color: #F5F5F5;
    transition: color 0.2s, transform 0.2s, box-shadow 0.2s;
}
.event-card:hover{
    background-color: #101031;
    transform: translateY(-5px);
    box-shadow:0 6px 15px rgba(0,0,0,0.9);
}
.EventI{
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
         
}
.EventI img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius:0.5rem;
}
.EventD{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 5px;
    padding-left:1rem;
}
.TitleDate{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.TitleDate .Title{
    font-size: 0.9em;
    display: flex;
    flex: 1;
    color: #DC143C; 
    font-family: "Radio Canada Big", sans-serif;
    font-weight: lighter;
}
.TitleDate .Date{
    font-size: 0.7em;
    display: flex;
    color:#B22222;
}
.Description{
    max-width: 100%;
    overflow: hidden;
    font-size: 0.55em;
    line-height: calc(0.55*1.2)em;
    transition: height 0.9s ease;
    font-family: "Assistant", sans-serif;
    font-weight: 600;
}
.Description.active{
    height: auto;
}
.Description.deactive{
    height: 64px;
}
.ReadRegister{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: -5px;
    padding-left: -0.5rem;
    font-family: "Assistant", sans-serif;

}
.ReadRegister .Read{
    display: flex;
    flex: 1;
    font-size: 0.7em;
    max-width: fit-content;
}
.ReadRegister .Read button{
    font-size: 0.8em;
    border: 0;
    color: #B22222;;
    background-color: transparent;
    margin-left: -5px;
}
.ReadRegister .Register{
    display: flex;
    flex: 1;
    font-size: 0.7em;
    justify-content: end;
    max-width: fit-content;
}
.ReadRegister .Register button{
    font-size: 0.9em;
    border-radius: 0.8rem;
    border: 0;
    margin-top: 0.5rem;
    padding: 0.1rem 0.6rem 0.1rem 0.7rem;
    background-color:#008080;
    color: #F5F5F5;
}
.ReadRegister .Register button:hover{
    background-color: #029281;
}

/* CANVAS RELATED */
.Wrapped{
    background-color: #1f1f1f;
    width: 90%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 30px;
    font-family: "Beta54";
    box-shadow: 4px 4px 16px rgba(0,0,0,0.5);
    
}
.canvas{
    width: 100%;
    height: 100%;
}


