@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Convergence&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    align-content: center;
    background-color: #030c26;
    background-repeat: no-repeat;
}

.h1 {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
  }

h1 {
    color: #6387f2;
    -webkit-text-stroke: 1px #3f63f5;
    filter: drop-shadow(0 0 5px #3f63f5);
    font-size: 7rem;
    font-family: "Convergence", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1:hover {
   color: transparent;
    filter: drop-shadow(0 0 7px #3f63f5);
    -webkit-text-stroke: 3px #3f63f5;
}


.gallerydiv{
    margin: 0 auto;
    padding: 2rem;
    height: 13rem;
    width: 45rem;
    background: #030c26;
    border-radius: 10px;
    position: relative;
    top: 2rem;
   
}

.gallerydiv::after,
.gallerydiv::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #0000e3, #8b058b, #00bfff, #0c61f5, #0000e3);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 4s linear infinite;
    animation-name: spin;
    animation-iteration-count: infinite;
}

.gallerydiv:before {
    filter: blur(0.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 180deg;
    }
}

.ourgallery {
position: relative;
max-width: 48rem;
margin: 0 auto;
}


.event-img {
    border-radius: 50%;
}

.event-nav {
position: relative;
left: 1rem;

}



.container{
    margin: 0 auto;
    padding: 2rem;
    height: 38rem;
    width: 55rem;
    background: #030c26;
    border-radius: 10px;
    position: relative;
   
}

.container::after,
.container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #0000e3, #8b058b, #00bfff, #0c61f5, #0000e3);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 4s linear infinite;
    animation-name: spin;
    animation-iteration-count: infinite;
}

.container::before {
    filter: blur(0.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 180deg;
    }
}

.carousel-slide {
position: relative;
max-width: 48rem;
margin: 0 auto;
}



.carousel-inner {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: 0.5rem;
}





p {
    color: #6387f2;
    text-align: center;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.h2 {
        margin: auto;
        width: 60%;
        display: flex;
        justify-content: center;
      }

      .h3 {
        margin: auto;
        width: 40%;
        display: flex;
        justify-content: center;
      }

      .h4, .h5 {
        margin: auto;
        width: 60%;
        display: flex;
        justify-content: center;
      }


    .h5 h1 {
        font-family: "Convergence", sans-serif;
        font-weight: 900;
        font-style: normal;
    }
    
      