@import url("https://fonts.googleapis.com/css2?family=Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Convergence&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    align-content: center;
    background-color: #121212;
    background-repeat: no-repeat;
}



.centerNav {
    display: flex;
    justify-content: center;
    padding: 2.5%;
}



.container {
    margin: 2.5%;
    padding: 2rem;
    height: auto;
    width: auto;
    background: #30343f;
    box-shadow: 0 0 1rem #0ff0ff;
    border-radius: 10px;
    position: relative;
}

.carousel-inner {
    display: flex;
    aspect-ratio: 16/9;
    border-radius: 0.5rem;
}

p {
    color: #ffffff;
    text-align: center;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}



a {
    color: transparent;
}

.titleHeading{
    text-align: center;
    color: #0ff0ff;
    font-family: "Convergence", sans-serif;
    font-weight: 900;
    font-size: 5rem;
    padding-top: 2%;
   
}

#Gallery-padding {
    padding-top: 7%;
}

@media (max-width: 771px){
    #Gallery-padding {
        padding-top: 15%;
    }
}

@media (max-width: 700px){
    .titleHeading{
        font-size: 4rem;
    }
    
    p{
        font-size: 1.25rem;
    }

    #Gallery-padding {
        padding-top: 13%;
    }
}

@media (max-width: 580px){
    .titleHeading{
        font-size: 3.8rem;
    }

    p{
        font-size: 1.25rem;
    }

     #Gallery-padding {
    padding-top: 7%;
}

    .container{
        padding: 3%;
    }
}

@media (max-width: 580px){
    #Gallery-padding {
        padding-top: 15%;
    }
}

@media (max-width: 491px){
    .titleHeading{
        font-size: 3.5rem;
    }

    p{
        font-size: 1.03rem;
    }
 
    .container{
        padding: 3%;
    }

    #Gallery-padding {
        padding-top: 15%;
    }

}

@media (max-width: 434px){
    .titleHeading{
        font-size: 3.2rem;
    }

    p{
        font-size: 1rem;
    }

    .container{
        padding: 3%;
    }

    #Gallery-padding {
        padding-top: 20%;
    }

}

@media (max-width: 381px){
    .titleHeading{
        font-size: 3.1rem;
    }

    p{
        font-size: 0.95rem;
    }

    .container{
        padding: 3%;
    }

    #Gallery-padding {
        padding-top: 20%;
    }

}

@media (max-width: 374px){
    .titleHeading{
        font-size: 3rem;
    }

    p{
        font-size: 0.9rem;
    }

    .container{
        padding: 3%;
    }

    #Gallery-padding {
        padding-top: 20%;
    }

}


@media (max-width: 335px){
    .titleHeading{
        font-size: 2.85rem;
    }

    p{
        font-size: 0.8rem;
    }

    .container{
        padding: 2.7%;
    }

    #Gallery-padding {
        padding-top: 25%;
    }

}