body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif; /* Set a default font */
}

.tclogo {
    position: fixed;
    top: 1.7rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: 10;
}

.nav-floatleft {
    position: fixed;
    top: 2rem;
    right: 1.3rem;
    font-size: 1.6rem;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    z-index: 10;
}

nav a {
    text-decoration: none;
    padding: 1.5rem 2rem;
    color: #f0f0f0; /* Light color for better contrast */
    transition: color 0.3s ease, letter-spacing 0.3s ease;
}

nav a:hover {
    letter-spacing: 0.2rem;
    color: #6387f2; /* Hover color */
}

.heading {
    font-size: 5rem;
    font-family: "Convergence", sans-serif;
    color: white;
    line-height: 3cm;
    z-index: 10;
}

.slogan {
    font-size: 2rem;
    color: white;
    position: fixed;
    top: 55%;
    z-index: 10;
}
.one {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 1;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,80%,90.1%,92.1%
    {
        color:#030c26;
        box-shadow: none;
    }
    18%,20%,30%,50%,60%,65%,80.1%,90%,92.15%,100%
    {
        color:#fff;
        text-shadow: 0 0 10px #27148c,
        0 0 10px #27148c;
    }
}

.text {
    border-right: 2px solid;
    overflow: hidden;
    white-space: nowrap;
    width: 40ch;
    animation: typing 3s steps(44, end) forwards, blink 0.7s step-end infinite;
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Blinking cursor effect */
@keyframes blink {
    50% {
        border-right-color: transparent;
    }
}

section {
    position: fixed;
    top: 20%;
    left: 5%;
    z-index: 10;
}

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container for background */
.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background:  #030c26;
    overflow: hidden;
} 
/*----------*/

/*----------*/

/* 3d model container */
.model-container {
  position: fixed;
  top: 20%;
  right: 5%;
  width: 40vw; /* adjust width as needed */
  height: 60vh; /*adjust height as needed */
  z-index: 5; /* place it below the nav and header elements */
  overflow: hidden;
  background: transparent; /*ensure the background is transparent */
  border-radius: 15px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); Optional: adjust shadow if needed */
}

/*responsive */
@media (max-width: 768px) {
    .heading {
        font-size: 4rem; /* Adjust heading size for smaller screens */
    }

    .slogan {
        font-size: 1.5rem; /* Adjust slogan size*/
    }
}