.bgimg { width:100%;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;}

.bgimg img {width:100%;
   height: 100%;}
.tclogo {position: Absolute;
   top:1.7rem;
   left:1rem;
   width: 2rem;
   height:2rem;}

  
.nav-floatleft {position: Absolute;
top:2rem;
right:1.3rem;
font-size: 1.6rem;
}
nav a:hover { letter-spacing:0.2rem;
padding:2rem 3rem;
display:ruby;
transition: all 0.3s ease;
}

nav a {text-decoration:none;
padding :2rem;
color:white;}


.heading {position: Absolute;
   top:10%;
   left:5%;
   font-size: 4rem;
   font-family: 'Young Serif';
   color:White;
line-height:2cm;}


   .slogan {position: Absolute;
      top:65%;
      font-size: 1.4rem;
      font-family: 'Golos text';
      color:white;}
