.checkbox-trigger {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.navbar-adjustments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 0.1rem solid white;
    backdrop-filter: blur(13px);
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.tclogo {
    width: 4.5rem;
    height: 4.5rem;
    z-index: 10;
    cursor: pointer;
}

.list_wrapper {
    font-size: 1.7rem;
    font-family: "Golos Text"
}

.elements_navbar {
    text-decoration: none;
    padding: 1.3rem 1.4rem;
    color: #39ff14;
    transition: 0.3s ease-in-out;
}

.elements_navbar:hover {
    transition: 0.3s ease-in-out, color 0.3s ease;
    letter-spacing: 0.13rem;
    color: #ffd300;
}

@media (min-width: 769px) and (max-width: 1400px) {
    .navbar-adjustments {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc(0.1rem + 1vw) calc(0.1rem + 0.5vw);
        background: rgba(255, 255, 255, 0.3);
        border-bottom: 0.1rem solid white;
        backdrop-filter: blur(calc(10px + 1vw));
    }

    .tclogo {
        width: calc(3.8rem + 0.8vw);
        height: calc(3.8rem + 0.8vw);
        z-index: 1;
        cursor: pointer;
    }

    .list_wrapper {
        font-size: 1.6rem;
    }

    .elements_navbar {
        text-decoration: none;
        padding: calc(1rem + 0.5vw) calc(0.9rem + 0.4vw);
        color: #39ff14;
        transition: 0.3s ease-in-out;
    }

    .elements_navbar:hover {
        transition: 0.3s ease-in-out, color 0.3s ease;
        letter-spacing: calc(0.09rem + 0.1vw);
        color: #ffd300;
    }


}

@media (min-width: 769px) and (max-width: 1100px) {
    .elements_navbar {
        padding: calc(1rem + 0.5vw) calc(0.6rem + 0.3vw);
        font-size: calc(1.2rem + 0.2vw);
    }

    .nav-floatleft {
        font-size: calc(1.2rem + 0.2vw);
    }
}

.menu-content .elements_wrapper {
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 3vw;
}

@media(max-width: 768px) {
    .navbar-adjustments {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc(2rem + 1vw) calc(2rem + 0.5vw);
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 4.5rem;
    }

    .checkbox-container {
        display: block;
        width: 52px;
        height: 40px;
        position: relative;
        background: #182825;
    }

    .checkbox-trigger {
        display: flex;
        opacity: 0;
        position: absolute;
        width: 52px;
        height: 40px;
        left: 0px;
        cursor: pointer;
        z-index: 5;
    }

    .hamburger-menu,
    .hamburger-menu::before,
    .hamburger-menu::after {
        display: block;
        position: absolute;
        background-color: white;
        width: 36px;
        height: 3px;
        transition: background-color 0.3s ease;
    }

    .hamburger-menu::before,
    .hamburger-menu::after {
        content: "";
        position: absolute;
        margin: -0.7em 0 0;
        transition: width 0.7s ease 0.3s, transform 0.7s ease 0.3s;
    }

    .hamburger-menu::after {
        margin-top: 0.7em;
    }

    .hamburger-menu {
        position: relative;
        display: block;
        margin: 0;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 18px;
        transition: width 0.5s ease;
    }

    .checkbox-trigger:checked {
        left: -82px;
    }

    .checkbox-trigger:checked + .menu-content .hamburger-menu {
        width: 1.7em;
        transition: width 0.5s ease 0.3s;
        transform: translateX(-82px);
        transition: transform 0.7s ease;
    }

    .checkbox-trigger:checked + .menu-content .hamburger-menu::before {
        width: 1.5em;
        transform: translateX(5px) rotate(32deg);
        margin-top: -0.4em;
    }

    .checkbox-trigger:checked + .menu-content .hamburger-menu::after {
        width: 1.5em;
        transform: translateX(5px) rotate(-32deg);
        margin-top: 0.4em;
    }

    .menu-content {
        display: flex;
        background: #30343F;
        color: #FF00FF;
        position: absolute;
        right: 0px;
        max-height: 40px;
        transition: max-height 0.5s ease, width 0.5s ease;
        border-radius: 9%;
    }

    .menu-content .elements_wrapper {
        display: block;
        padding-left: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0;
        width: 0px;
        height: 0px;
        overflow: hidden;
        transition: height 2s ease;
        transition-duration: 3s;
    }

    .checkbox-trigger:checked + .menu-content {
        max-height: fit-content;
        transition: width 0.5s ease, max-height 0.5s ease 0.7s;
    }

    .checkbox-trigger:checked + .menu-content .elements_wrapper {
        width: 83px;
        height: auto;
        transition: width 0.3s ease, height 0.5s ease;
        margin-left: 10px;
        margin-top: 20px;
        padding-bottom: 0;
    }

    .checkbox-trigger:checked + .menu-content .elements_wrapper {
        transition-duration: 1s;
    }

    .menu-content .elements_wrapper .list_wrapper {
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        cursor: pointer;
        transition: color 0.5s, background-color 0.5s;
    }

    .menu-content .elements_wrapper .list_wrapper:hover .elements_navbar {
        color: #FFD300;
    }

    .wrapper {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .tclogo {
        padding-top: 15px;
        width: 4.5rem;
        height: 4.5rem;
        position: static;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }

    .navbar-adjustments {
        padding: 0;
    }

    .elements_navbar {
        padding: 0.5rem;
    }
}
