* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.content {
    z-index: 1;
}

.ourteam {
    color: white;
    text-align: center;
    padding: 3rem;
    font-size: 5rem;
}

.tagline {
    padding-top: 2rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-bottom: 3rem;
    width: 70%;
    margin-left: 15%;
    text-transform: capitalize;
    line-height: 3.7rem;
    word-spacing: 0.3rem;
}

.subintrotagline {
    padding-top: 1.3rem;
    text-align: center;
    color: white;
    font-size: 2.1rem;
    width: 55%;
    margin-left: 22.5%;
    text-transform: capitalize;
    line-height: 3rem;
}

.teachers {
    padding-top: 8.5rem;
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-bottom: 2rem;
    width: 100%;
}

.second-para-adjusting {
    font-size: 3.2rem;
    width: 70%;
    margin-left: 14.8%;
    line-height: 5rem;
}

.row-one {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.teacher1 {
    width: 18%;
    padding-bottom: 18%;
    background-image: url(../images/team/Dr.-Shalini-R.-Sinha.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border: 0.2rem solid rgb(255, 255, 255);
}

#name-shalini-sinha {
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
}

.row-two {
    padding-top: 10rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    gap: 1rem;
}

.teacher2,
.teacher3,
.teacher4,
.teacher5,
.teacher6,
.teacher7 {
    width: 15%;
    padding-bottom: 15%;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3rem solid rgb(255, 255, 255);
}

.teacher2 {
    background-image: url(../images/team/geeta.jpg);
}

.teacher3 {
    background-image: url(../images/team/Mrs.-Beena-S.-Karutharan.jpg);
}

.teacher4 {
    background-image: url(../images/team/Ms.-Jovairia-Ansari.png);
}

.teacher5 {
    background-image: url(../images/team/Ms.-Ritika-Sharma.png);
}

.teacher6 {
    background-image: url(../images/team/shaliniM.jpg);
}

.teacher7 {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.row-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    gap: 1rem;
}

.teacher2-name,
.teacher3-name,
.teacher4-name,
.teacher5-name,
.teacher6-name,
.teacher7-name {
    width: 15%;
    padding-bottom: 15%;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    word-spacing: 0.2rem;
    line-height: 1.3rem;
}

.core {
    padding-top: 9rem;
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.coreadjusting {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.corepic {
    width: 50%;
    padding-bottom: 25%;
    background-image: url(../images/sampleTeamPic.jpeg);
    background-size: cover;
    border-radius: 5% / 10%;
}

.core-names {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    word-spacing: 0.4rem;
}

.hodintroline {
    padding-top: 8rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    font-size: 4rem;
    width: 100%;
    text-transform: capitalize;
}

.line-one-adjusting {
    width: 100%;
}

.line-two-adjusting {
    width: 60%;
    margin-left: 19%;
    font-size: 3.8rem;
}

.first-order {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.admin,
.accounts,
.coverage,
.decor,
.design,
.hospitality,
.logistics,
.security,
.technical {
    font-size: 2rem;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
    width: 35%;
    text-align: center;
    word-spacing: 0.4rem;
}

.admin-pic,
.accounts-pic,
.coverage-pic,
.decor-pic,
.design-pic,
.hospitality-pic,
.logistics-pic,
.security-pic,
.technical-pic {
    width: 100%;
    padding-bottom: 65%;
    background-size: cover;
    border-radius: 10% / 15%;
}

.admin-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.accounts-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.coverage-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.first-order-names {
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
}

.admin-name,
.accounts-name,
.coverage-name {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 1.5rem;
    word-spacing: 0.4rem;
}

.second-order {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.decor-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.design-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.hospitality-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.third-order {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.logistics-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.security-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.technical-pic {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.fourth-order {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.prandmarketing {
    font-size: 2rem;
    padding: 3rem;
    color: white;
    width: 40%;
    text-align: center;
    word-spacing: 0.4rem;
}

.prandmarketing-pic {
    width: 100%;
    padding-bottom: 50%;
    background-image: url(../images/sampleTeamPic.jpeg);
    background-size: cover;
    border-radius: 10% / 15%;
}

.website-team-intro {
    padding-top: 5rem;
    padding-bottom: 3rem;
    color: white;
    text-align: center;
    font-size: 4rem;
    width: 60%;
    margin-left: 20%;
    line-height: 5rem;
    text-transform: capitalize;
}

.website-team-pictures-order-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    padding: 2rem 0;
    gap: 5rem;
}

.pic-1,
.pic-2,
.pic-3,
.pic-4 {
    width: 27%;
    padding-bottom: 22%;
    padding-top: 2rem;
    background-size: cover;
    border-radius: 10%;
}

.pic-1 {
    background-image: url(../images/sampleTeamPic.jpeg);
}
.pic-2 {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.pic-3 {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.pic-4 {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.to-give-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.website-team-pictures-order-two {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.pic-5,
.pic-6,
.pic-7 {
    width: 24%;
    padding-bottom: 25%;
    padding-top: 2rem;
    background-size: cover;
    border-radius: 10%;
}

.pic-5 {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.pic-6 {
    background-image: url(../images/sampleTeamPic.jpeg);
}

.pic-7 {
    background-image: url(../images/sampleTeamPic.jpeg);
}
