* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.teachers-wrapper,
.core-wrapper,
.hod-wrapper,
.website-team-wrapper {
    border: 0.27rem solid #ccc;
    border-radius: 0.9rem;
    padding: 0 2rem 5rem 2rem;
    margin: 2rem 5rem 7rem 5rem;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2.2rem rgba(238, 235, 235, 0.955);
    transition: all 0.5s ease-in-out;
}

.styling-team-of-teachers,
.core,
.dept-hod-styling,
.website-team-styling {
    font-family: "Young Serif", serif;
    font-weight: 500;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: white;
    color: black;
    font-style: italic;
    text-decoration: underline solid white 12%;
    text-underline-offset: 0.8rem;
    text-shadow: 0 0 0.35rem rgba(255, 255, 255, 0.7);
}


.teachers-wrapper:hover,
.core-wrapper:hover,
.hod-wrapper:hover,
.website-team-wrapper:hover {
    border-color: #ffb977;
    box-shadow: 0 0 4rem #fa7900;
    transition: all 0.25s ease-in-out;
}

.background-picture {
    background-image: url(../images/backgroundPic/team-background-pic.jpeg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    z-index: 0;
    filter: blur(0.05rem);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 1;
}

.ourteam {
    font-family: "Young Serif", serif;
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 3rem 3rem 1.5rem 3rem;
    font-size: 5rem;
    text-decoration: underline solid white 12%;
    text-underline-offset: 0.8rem;
    text-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.9);
}

.tagline {
    font-family: "Kanit", sans-serif;
    font-weight: 370;
    padding-top: 1rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
    line-height: 4rem;
    word-spacing: 0.3rem;
}

.teachers {
    padding-top: 4rem;
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    margin: 0 auto;
}

.styling-introducing-our-dedicated {
    font-family: "Young Serif", serif;
    font-weight: 100;
    font-size: 4.5rem;
}

.styling-team-of-teachers {
    font-weight: 500;
}

.teacherimagesadjusting {
    font-family: "Kanit", sans-serif;
}

.row-one {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.teacher1 {
    width: 18%;
    padding-bottom: 18%;
    background-image: url(../images/team/DrShaliniRSinha.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border: 0.17rem solid #222222;
}

.teacher1,
.teacher2,
.teacher3,
.teacher4,
.teacher5,
.teacher6,
.teacher7 {
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.teacher1::after,
.teacher1::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        #fe0000,
        #fd8f00,
        #f6b709,
        #ff220E
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3%;
    border-radius: 10%;
    animation: 3s spin linear infinite;
}

.teacher1::before {
    filter: blur(2.5rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.name-shalini-sinha {
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
}

.row-two {
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: 0 auto;
    gap: 2rem;
}

.teacher2,
.teacher3,
.teacher4,
.teacher5,
.teacher6,
.teacher7 {
    width: 15%;
    padding-bottom: 15%;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.17rem solid #222222;
    animation: 2s spin linear infinite;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.teacher2::before,
.teacher3::before,
.teacher4::before,
.teacher5::before,
.teacher6::before,
.teacher7::before,
.teacher2::after,
.teacher3::after,
.teacher4::after,
.teacher5::after,
.teacher6::after,
.teacher7::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        #ff4545,
        #00ffd9,
        #001aff,
        #fc0b7f,
        #ff4545
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3.9%;
    border-radius: 50%;
    animation: 3s spin linear infinite;
}

.teacher2::before,
.teacher3::before,
.teacher4::before,
.teacher5::before,
.teacher6::before,
.teacher7::before {
    filter: blur(2rem);
    opacity: 0.6;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.teacher2 {
    background-image: url(../images/team/geeta.jpg);
    background-size: 170%;
    background-position: center 15%;
}

.teacher3 {
    background-image: url(../images/team/MrsBeenaSKarutharan.jpg);
}

.teacher4 {
    background-image: url(../images/team/MsJovairiaAnsari.png);
}

.teacher5 {
    background-image: url(../images/team/MsRitikaSharma.png);
}

.teacher6 {
    background-image: url(../images/team/shaliniM.jpg);
    background-size: 92%;
    background-position: center top;
}

.teacher7 {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.row-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 0.5rem;
}

.teacher2-name,
.teacher3-name,
.teacher4-name,
.teacher5-name,
.teacher6-name,
.teacher7-name {
    width: 15%;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    word-spacing: 0.2rem;
    line-height: 1.3rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.core {
    padding-top: 4rem;
    text-align: center;
    font-size: 3.7rem;
    padding-bottom: 4rem;
}

.core-pic-adjusting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    gap: 3rem;
}

.corepic1,
.corepic2,
.corepic3,
.corepic4 {
    width: 27%;
    padding-bottom: 22%;
    padding-top: 2rem;
    background-size: cover;
    border-radius: 10%;
    border: 0.17rem solid #222222;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.corepic1::before,
.corepic2::before,
.corepic3::before,
.corepic4::before,
.corepic1::after,
.corepic2::after,
.corepic3::after,
.corepic4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        #CEA0AE,
        #684551,
        #D5B0AC,
        #ff009d,
        #CEA0AE
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2.5%;
    border-radius: 10%;
    animation: 3s spin linear infinite;
}

.corepic1::before,
.corepic2::before,
.corepic3::before,
.corepic4::before {
    filter: blur(2rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.corepic1 {
    background-image: url(../images/team/ruthran.jpg);
}

.corepic2 {
    background-image: url(../images/team/Burhan.png);
}

.corepic3 {
    background-image: url(../images/team/farhan.JPG);
    background-position: center 4%;
}

.corepic4 {
    background-image: url(../images/team/pakzad.jpg);
    background-size: 105%;
    background-position: center;
}

.core-names {
    font-family: "Kanit", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    word-spacing: 0.4rem;
    display: flex;
    width: 92%;
    margin: 0 auto;
    gap: 3rem;
}

.core-names-1,
.core-names-2,
.core-names-3,
.core-names-4 {
    width: 27%;
    padding-top: 1rem;
    text-align: center;
    margin: 0 auto;
}

.meet-our-styling {
    font-family: "Young Serif", serif;
    font-weight: 100;
}

.dept-hod-styling {
    text-shadow: 0 0 0.35rem rgba(255, 255, 255, 0.7);
}

.hodintroline {
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
    color: white;
    font-size: 4rem;
    width: 100%;
    text-transform: capitalize;
}

.line-one-adjusting {
    width: 100%;
}

.first-order {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.admin,
.accounts,
.coverage,
.decor,
.design,
.hospitality,
.logistics,
.prandmarketing,
.technical {
    font-size: 2rem;
    padding-top: 3rem;
    margin: 0 auto;
    color: white;
    width: 35%;
    text-align: center;
    word-spacing: 0.4rem;
    font-family: "Asap", sans-serif;
    font-weight: 600;
}

.name-adjust {
    padding: 0 1.5rem 0rem 1.5rem;
}

.admin-pic,
.accounts-pic,
.coverage-pic,
.decor-pic,
.design-pic,
.hospitality-pic,
.logistics-pic,
.prandmarketing-pic,
.technical-pic {
    width: 63%;
    padding-bottom: 66%;
    margin: 0 auto;
    background-size: cover;
    border-radius: 10% / 15%;
    border: 0.17rem solid #222222;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.admin-pic::before,
.accounts-pic::before,
.coverage-pic::before,
.decor-pic::before,
.design-pic::before,
.hospitality-pic::before,
.logistics-pic::before,
.prandmarketing-pic::before,
.technical-pic::before,
.admin-pic::after,
.accounts-pic::after,
.coverage-pic::after,
.decor-pic::after,
.design-pic::after,
.hospitality-pic::after,
.logistics-pic::after,
.prandmarketing-pic::after,
.technical-pic::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        #0384f6,
        #00bfff,
        #00f375,
        #00ff51,
        #0066ff
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2.3%;
    border-radius: 10% / 15%;
    animation: 3s spin linear infinite;
}

.admin-pic::before,
.accounts-pic::before,
.coverage-pic::before,
.decor-pic::before,
.design-pic::before,
.hospitality-pic::before,
.logistics-pic::before,
.prandmarketing-pic::before,
.technical-pic::before {
    filter: blur(1.6rem);
    opacity: 0.8;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.admin-pic {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.accounts-pic {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.coverage-pic {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.first-order-names {
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
}

.admin-name,
.accounts-name,
.coverage-name {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 1.58rem;
    word-spacing: 0.4rem;
    font-family: "Kanit", sans-serif;
}

.second-order {
    display: flex;
    justify-content: space-between;
    padding-top: 3.4rem;
}

.decor-pic {
    background-image: url(../images/team/vedika.jpg);
    background-position: center center;
}

.design-pic {
    background-image: url(../images/team/chandan.jpg);
    background-size: 110%;
    background-position: center 7%;
}

.hospitality-pic {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.second-order-names {
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
}

.decor-name,
.hospitality-name,
.design-name {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 1.58rem;
    word-spacing: 0.4rem;
    font-family: "Kanit", sans-serif;
}

.third-order {
    display: flex;
    justify-content: space-between;
    padding-top: 3.8rem;
}

.logistics-pic {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.prandmarketing-pic {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.technical-pic {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.third-order-names {
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
}

.logistics-name,
.prandmarketing-name,
.technical-name {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 1.58rem;
    word-spacing: 0.4rem;
    font-family: "Kanit", sans-serif;
}

.fourth-order {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
}

.security {
    font-size: 2rem;
    padding: 1.5rem 0 0 0;
    color: white;
    width: 27.6%;
    text-align: center;
    word-spacing: 0.4rem;
    font-family: "Asap", sans-serif;
    font-weight: 600;
}

.security-pic {
    width: 80.67%;
    padding-bottom: 85%;
    margin: 0 auto;
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 10% / 15%;
    border: 0.17rem solid #222222;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.security-pic::before,
.security-pic::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        #00a2ff,
        #00bfff,
        #00f375,
        #01ff9e,
        #00a2ff
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2%;
    border-radius: 10% / 15%;
    animation: 3s spin linear infinite;
}

.security-pic::before {
    filter: blur(1.5rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.security-name {
    text-align: center;
    margin-left: 0.5rem;
    padding-top: 1rem;
    color: white;
    font-size: 1.58rem;
    word-spacing: 0.4rem;
    font-family: "Kanit", sans-serif;
}

.website-team-intro {
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: white;
    text-align: center;
    font-size: 4rem;
    width: 70%;
    margin: 0 auto;
    line-height: 5rem;
    text-transform: capitalize;
}

.meet-the-rising-stars-of-our-styling {
    font-family: "Young Serif", serif;
    font-weight: 100;
    font-size: 4rem;
    text-transform: none;
}

.website-team-styling {
    font-size: 3.8;
    line-height: 3rem;
}

.website-team-pictures-row-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    padding-top: 2rem;
    gap: 5rem;
}

.pic-1,
.pic-2,
.pic-3,
.pic-4 {
    width: 27%;
    padding-bottom: 22%;
    padding-top: 2rem;
    background-size: cover;
    border-radius: 10%;
    border: 0.17rem solid #222222;
    position: relative;
}

.pic-1 {
    background-image: url(../images/team/khushi.jpeg);
    background-position: center center -0.2rem;
}
.pic-2 {
    background-image: url(../images/team/rukaiya.jpeg);
    background-position: center center;
}

.pic-3 {
    background-image: url(../images/team/kritika.jpeg);
    background-position: center center -0.2rem;
}

.pic-4 {
    background-image: url(../images/team/krishika.jpeg);
    background-position: center center;
}

.webteam-names-row-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 96%;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 1rem;
}

.website-team-names-1,
.website-team-names-2,
.website-team-names-3,
.website-team-names-4 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    word-spacing: 0.4rem;
    line-height: 2rem;
    width: 27%;
    font-family: "Kanit", sans-serif;
}

.to-give-padding {
    padding-top: 6rem;
}

.website-team-pictures-row-two {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.pic-5,
.pic-6,
.pic-7 {
    width: 23%;
    padding-bottom: 25%;
    padding-top: 2rem;
    background-size: cover;
    border-radius: 10%;
    border: 0.17rem solid #222222;
    position: relative;
}

.pic-5 {
    background-image: url(../images/team/avalon.jpeg);
    background-position: center center;
}

.pic-6 {
    background-image: url(../images/team/siddha.jpeg);
    background-position: center center;
    background-size: 180%;
}

.pic-7 {
    background-image: url(../images/sampleTeam.jpg);
    background-position: center center;
}

.webteam-names-row-two {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
}

.website-team-names-5,
.website-team-names-6,
.website-team-names-7 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    word-spacing: 0.4rem;
    line-height: 2rem;
    width: 23%;
    margin: 0 auto;
    font-family: "Kanit", sans-serif;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.pic-1::before,
.pic-2::before,
.pic-3::before,
.pic-4::before,
.pic-5::before,
.pic-6::before,
.pic-7::before,
.pic-1::after,
.pic-2::after,
.pic-3::after,
.pic-4::after,
.pic-5::after,
.pic-6::after,
.pic-7::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        #fe0000,
        #eaff00,
        #0068fa,
        #ff0095,
        #fe0000
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2.6%;
    border-radius: 10%;
    animation: 3s spin linear infinite;
}

.pic-1::before,
.pic-2::before,
.pic-3::before,
.pic-4::before,
.pic-5::before,
.pic-6::before,
.pic-7::before {
    filter: blur(2rem);
    opacity: 0.6;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .teachers-wrapper,
    .core-wrapper,
    .hod-wrapper,
    .website-team-wrapper {
    border: calc(0.25rem + 0.1vw) solid #ccc; 
    border-radius: calc(0.7rem + 0.2vw); 
    padding: calc(1rem + 0.5vw) calc(1.5rem + 1vw) calc(4rem + 1vw) calc(1.5rem + 1vw); 
    margin: calc(1.5rem + 0.5vw) calc(3rem + 1vw) calc(5rem + 1vw) calc(3rem + 1vw);
    box-shadow: 0 0 calc(1.8rem + 0.5vw) rgba(238, 235, 235, 0.955); 
}

.ourteam {
    padding: calc(2rem + 0.5vw) calc(2rem + 0.5vw) calc(1rem + 0.5vw) calc(2rem + 0.5vw); 
    font-size: calc(3rem + 1vw); 
    text-underline-offset: calc(0.5rem + 0.2vw); 
    text-shadow: 0 0 calc(0.3rem + 0.1vw) rgba(255, 255, 255, 0.9); 
}

.tagline {
    padding-top: calc(0.5rem + 0.5vw); 
    font-size: calc(2rem + 1vw); 
    padding-bottom: calc(1.5rem + 0.5vw); 
    width: calc(70% + 5vw); 
    line-height: calc(3rem + 0.5vw);
    word-spacing: calc(0.2rem + 0.1vw); 
}

.teachers {
    padding-top: calc(2rem + 1vw); 
    font-size: calc(3rem + 0.5vw); 
    padding-bottom: calc(1rem + 1vw); 
    width: calc(90% + 5vw); 
}

.styling-introducing-our-dedicated {
    font-family: "Young Serif", serif;
    font-weight: 100;
    font-size: calc(3rem + 1vw); 
}
    
.row-one {
    padding-top: calc(2rem + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.teacher1 {
    width: calc(15% + 1vw); 
    padding-bottom: calc(15% + 1vw); 
    border-radius: calc(8% + 0.5vw); 
}

.teacher1::after,
.teacher1::before {
    padding: calc(1.4% + 0.5vw); 
    border-radius: calc(8% + 0.5vw); 
}

.teacher1::before {
    filter: blur(calc(2rem + 0.5vw)); 
}

.name-shalini-sinha {
    color: white;
    text-align: center;
    padding-top: calc(0.8rem + 0.5vw); 
    font-size: calc(1rem + 0.5vw); 
}

.row-two {
    padding-top: calc(4rem + 1vw); 
    padding-bottom: calc(1rem + 0.5vw); 
    gap: calc(1rem + 1vw); 
    width: 96%;
}

.teacher2,
.teacher3,
.teacher4,
.teacher5,
.teacher6,
.teacher7 {
    width: calc(15% + 1vw); 
    padding-bottom: calc(12% + 1vw); 
    border: calc(0.15rem + 0.05vw) solid #222222; 
}

.teacher2::before, .teacher3::before, .teacher4::before, .teacher5::before, .teacher6::before, .teacher7::before, .teacher2::after, .teacher3::after, .teacher4::after, .teacher5::after, .teacher6::after, .teacher7::after {
    height: calc(100% + 2vw); 
    width: calc(100% + 2vw); 
    padding: 0.001rem;
    border-radius: 50%;
}

.teacher2::before,
.teacher3::before,
.teacher4::before,
.teacher5::before,
.teacher6::before,
.teacher7::before {
filter: blur(calc(2rem + 0.2vw)); 
}

.row-three {
    gap: calc(1rem + 1vw); 
    padding-top: calc(0.5rem + 0.2vw); 
    margin: 0 auto;
}

.teacher2-name,
.teacher3-name,
.teacher4-name,
.teacher5-name,
.teacher6-name,
.teacher7-name {
    width: calc(15% + 1vw); 
    font-size: calc(0.9rem + 0.1vw); 
    word-spacing: calc(0.1rem + 0.1vw); 
    line-height: calc(1.3rem + 0.2vw);
    padding-bottom: calc(1rem + 0.3vw); 
}

}

